body{
    background-color: black;
    color: wheat;
    font-size: 30px;
}

#pojemnik{
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

#haslo{
    width :900px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;

}

#szubienica{
    float:left;
    width : 450px;
}

#alfabet{
    width :450px;
    float: left;
}